{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static "css/table_style.css" %}" rel="stylesheet">
</head>
<body>
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Games for all</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'add_user' %}>Add user</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'delete_user' %}>Delete user</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'change_user' %}>Change user</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'add_profile' %}>Add profile</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'delete_profile' %}>Delete profile</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'change_profile' %}>Change profile</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'subscribe' %}>Subscribe</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'unsubscribe' %}>Unsubscribe</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 main-container">
        {% block add_user %} {% endblock %}
        {% block delete_user %} {% endblock %}
        {% block change_user %} {% endblock %}
        {% block add_profile %} {% endblock %}
        {% block delete_profile %} {% endblock %}
        {% block change_profile %} {% endblock %}
        {% block subscribe %} {% endblock %}
        {% block unsubscribe %} {% endblock %}
    </div>
{% endblock %}

</body>
</html>